# Supabase PostgreSQL (Vercel'de bu olacak)
DATABASE_URL="postgresql://postgres:password@db.xxxxx.supabase.co:5432/postgres"

# NextAuth - rastgele bir metin yaz
AUTH_SECRET=buraya-rastgele-bir-metin-yaz
AUTH_URL=https://fiberan.vercel.app
