# Dependencies
node_modules

# Environment
.env

# Next.js build output
.next/

# Prisma generated
/src/generated/prisma

# SQLite (local only, Supabase kullaniyoruz)
dev.db
prisma/dev.db
prisma/dev.db-journal

# OS files
.DS_Store
Thumbs.db

.vercel
